.darkmodal {
	position: absolute;
	top: 30%;
	left: 15%;
	right: 15%;
	width: 70%;
	text-align: center;
	background: transparent;
	border-radius: 1.5rem;
	z-index: 100;
	padding: 2rem;
	color: white;
}

.darkmodal > * {
	margin: 1rem 0;
}

.darkmodal > :first-child {
	font-weight: 800;
}

.container {
	position: fixed;
	height: 80vh;
	width: 90vw;
	top: 10%;
	right: 5%;
	left: 5%;
	border-radius: 20px;
	z-index: 10;
	background: rgba(0, 0, 0, 0.8);
}
