.heading {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 1rem;
	font-size: 20pt;
}

.divider {
	border-bottom: 2px solid #d9d9d9;
	width: 80%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

/* for update avatar page */
.gridLayout {
	display: grid;
	grid-template-columns: repeat(2, minmax(8rem, 2fr));
	margin: auto;
	gap: 1rem;
}

@media (min-width: 620px) {
	.gridLayout {
		grid-template-columns: repeat(3, minmax(8rem, 2fr));
	}
}
