@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--max-width: 1100px;
	--main-white: #ffffff;
	--main-beige: #fff8f0;
	--main-green: #bcf0e4;
	--main-lavendar: #b6aada;
	--main-blue: #bccbec;
	--main-dark-violet: #473982;
	--main-light-violet: #47398245;
	--main-text-black: #030303;
	--mobile-nav-height: 3.75rem;
	--lg-width: 85%;
	--lg-max-width: 37.5rem;
	--md-width: 90%;
	--md-max-width: 31.25rem;
	--top-nav-height: 3.75rem;
	--mobile-bg-src: url('/backgrounds/Background-Mobile.png');
	--desktop-bg-src: url('/backgrounds/Background-Desktop.png');
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
}

html,
body {
	max-width: 100vw;
	/*  */
}

a {
	color: inherit;
	text-decoration: none;
}
ul {
	list-style: none;
}
.bg {
	background-image: var(--mobile-bg-src);
	width: 100vw;
	min-height: 100vh;
	object-fit: fill;
	z-index: -10;
	background-repeat: repeat-y;
	padding-top: var(--top-nav-height);
	padding-bottom: var(--mobile-nav-height);
}

.top-container {
	margin-left: auto;
	margin-right: auto;
	width: var(--lg-width);
	max-width: var(--lg-max-width);
}
.main-container {
	margin-left: auto;
	margin-right: auto;
	width: var(--md-width);
	max-width: var(--md-max-width);
}

@media (min-width: 416px) and (max-width: 1920px) {
	.bg {
		background-image: var(--desktop-bg-src);
	}
}
