.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.flex-item {
	margin: 20px auto;
	color: black;
}
.center {
	border-top: 2px solid var --main-border-grey;
	border-bottom: 2px solid var --main-border-grey;
	padding: 1rem 0;
	min-height: 30vh;
}
.text-box {
	max-width: 200px;
}
.text-box p {
	margin-bottom: 1rem;
}
.adviser {
	display: flex;
	justify-content: center;
}
