.desktop-list {
	padding: 0;
	display: flex;
	list-style: none;
	justify-content: space-around;
	gap: 2rem;
}
.desktop-nav {
	display: none;
}

@media only screen and (min-width: 768px) {
	.desktop-nav {
		display: block;
	}
}
