.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flexItem {
	line-height: 2rem;
	margin: 0.3rem;
}

.flexItem span:nth-child(2) {
	font-weight: 800;
	font-size: 1.3rem;
}

.flexItem Button:nth-child(4) {
	margin-top: 1rem;
}

.progressBarWrapper {
	width: 10rem;
}