.modal {
	position: absolute;
	width: 100%;
	bottom: var(--mobile-nav-height);
	right: 0;
	text-align: center;
	background: #efe9f5;
	border-top-right-radius: 2rem;
	border-top-left-radius: 2rem;
	z-index: 100;
	padding: 2rem;
}
